<div id="tarots" class="container">
  <h3>思考ツールとしてのタロット <small>オリジナル作品集</small></h3>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to play_random_tarots_path do %>
      <h4>偶然タロット　<small>すべてのタロット使い</small></h4>
      <% end %>
    </div>
  </div>
  <% @tarots.each do |tarot| %>
    <div class="row <%= cycle('odd','even') -%>">
      <div class="col-sm-6">
        <%= link_to play_tarot_cards_path(tarot) do %>
        <h4><%= tarot.name %>　<small><%= tarot.author %></small></h4>
         <% end %>
      </div>
      <div class="col-sm-6">
        <div class="btn-group btn-group-sm" style="margin: 5px 0">
        <%= link_to 'カードをみる・作る', tarot_cards_path(tarot), class:'btn btn-default' %>
          <%= link_to '直す', edit_tarot_path(tarot), class:'btn btn-default' %>
          <% if tarot.key %>
          <%= link_to '専用画面', world_path(tarot.key), class:'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to '新しいタロットを作る', new_tarot_path, class: 'btn btn-primary' %>
</div>

