<div class="panel <%=panel-%>" style="display: none">
  <div class="panel-heading">
    <p class="panel-title"><%= @card.roman %> <%= @card.name %></p>
  </div>
  <div class="panel-body">
    <%= @card.text %>
  </div>
  <% if @card.description.present? %>
      <div class="panel-footer"><%= @card.description %></div>
  <% end %>
</div>